body {
  width: 1000px;
}

/* Header Styling */
header {
  background-color: rgb(80, 79, 77);
  height: 100px;
  width: 1000px;
}

header > img {
  float: left;
  margin-top: 15px;
  margin-left: 30px;
  display: inline;
}

header nav {
  right: 15px;
  text-align: right;
}

nav li {
  list-style: none;
  margin-top: 50px;
  margin-right: 100px;
  display: inline-block;
}

/* main Styling */
main {
  top: 100px;
  margin: 20px;
  height: 1250px;
}
/* main {
    width: 1000px;
    margin: 0 auto;
  } */

div:first-child {
  float: right;
  width: 450px;
  top: 30px;
}
div:first-child img {
  width: 450px;
  top: 30px;
}
/* 
div:nth-child(2) {
  width: 450px;
  display: inline;
  top: 10px;
}

div:nth-child(2) > img {
  display: inline;
  margin-top: 20px;
}

div:nth-child(2) {
  display: inline;
  height: 300px;
  margin-bottom: 20px;
  margin-left: 10px;

  top: 10px;
} */

main div:last-child {
  overflow: auto;
  float: left;
  margin: 10px;
}

main div:last-child aside {
  overflow: auto;
  float: right;
  margin: 10px;
  width: 400px;
  margin-top: 0px;
}

main div:last-child aside h4 {
  margin-top: 0px;
}
/* Footer Styles */
footer {
  /* width: 100%; */
  margin-top: 30px;
  height: 150px;
  background: gray;
  bottom: 0px;
}
